table, tr, td{
    border: solid 1px black;
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
}

.titulo{
    background-color: rgb(124, 124, 197);
}

.preto{
    background-color: black;
}